<footer>
    Copyright - Hamza OUADDI 
    <div class="github-link"> <a href="https://github.com/hamza-ouaddi"><i class="fa-brands fa-github"></i> GitHub</a></div>
   
</footer>
<script src="/buttons.js"></script>
</body>
</html>