<%- include ("header") -%>
<div class="box" id="heading">
  <h1><i class="fa-solid fa-check-double icon"></i><%= listTitle%></h1>
</div>

<div class="buttons">
  <!-- <form class="buttons" action="/" method="post"> -->
  <input
    type="submit"
    name="tobuy"
    id="buy-btn"
    class="list-btn"
    value="To Buy List"
  />
  <input
    type="submit"
    name="towork"
    id="work-btn"
    class="list-btn"
    value="To Work List"
  />
  <!-- </form> -->
</div>

<%- include ("footer") -%>
